/kube.config
/java/.mvn
/java/.settings/org.eclipse.jdt.core.prefs
/java/.settings/org.eclipse.m2e.core.prefs
/java/.classpath
/java/.project
/java/target/
/java/ads
/java/nonAds
/java/*/.settings/org.eclipse.jdt.core.prefs
/java/*/.settings/org.eclipse.m2e.core.prefs
/java/*/.classpath
/java/*/.project
/java/*/target/
/java/*/ads
/java/*/nonAds
/pyton/dataset
/pyton/fcn/dataset
/pyton/fcn/processedDataSet
/pyton/fcn/processedDataSetAds
/pyton/preview
/pyton/jupyter/models/logs
/js/chrome-extension/.parcel-cache
/js/chrome-extension/node_modules
/js/chrome-extension/dist/src
/pyton/processedDataSetAds
/pyton/flask_backend/flaskapp
pyton/flask_backend/clip_backend.log
pyton/flask_backend/fileserver.log
pyton/flask_backend/model_server
*.log